 /* navbar styling */

 .logo img {
    height: 8vh; 
    width: auto;
    padding-top: 1vh;
    background-color: #023047;
    position: fixed;
    top: 0;
}

.desktop-nav {
    top:0;
    display: flex; 
    height: 10vh; 
    width: 100%;
    justify-content: space-between; 
    align-items: center; 
    background-color: #023047;
    position: fixed;
}

.nav-links {
    display: flex;
    gap: 4vh;
    list-style-type: none;
    padding: 2vh;
    background-color: #023047;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 1vh;
    background-color: #023047;
}

.nav-links a:hover {
    background-color: #219ebc;
}

/* HAMBURTGER NAV */


.hamburger {
    display: none;
}


@media only screen and (max-width: 700) {
    .nav-links a {
        position: fixed;
        top: 10vh;
        background-color: #023047;
        width: 100%;
    }
}

